@import "src/stories/styles/index";

.card-wrapper {
  @include grid();
  width: 100%;
  .card {
    position: relative;
    border-radius: 6px;
    background-color: white;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    padding-top: 45px;
    &.card-small {
      @include column(4);
      .card-title {
        width: 90%;
      }
    }
    &.card-medium {
      @include column(8);
    }
    &.card-big {
      @include column(10);
    }
    &.card-large {
      @include column(12);
    }
    .card-title {
      position: absolute;
      width: 95%;
      border-radius: 6px;
      top: -20px;
      text-align: center;
      padding: 10px;
      box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
      h1 {
        margin: 0;
        color: white;
        font-weight: normal;
        font-size: 20px;
      }
      h6 {
        color: white;
        font-weight: normal;
        font-size: 12px;
        margin: 8px 0 0;
      }
      &.card-primary {
        background-color: $gams-red-0;
      }
      &.card-secondary {
        background-color: $gams-blue-0;
      }
    }
    .card-body {
      padding: 15px;
      min-height: 100px;
      width: 100%;
    }
  }
}
