@import "src/stories/styles/index";

.content-container{
  width: 100%;
  height: calc(100vh - 65px);
  background-color: $gams-white-1;
  .content{
    @include grid();
    @include container();
  }
}