$gams-black-0: #2d2d2a;
$gams-black-1: #40403d;
$gams-black-2: #151514;
$gams-blue-0: #324a5f;
$gams-blue-1: #576a7c;
$gams-blue-2: #253646;
$gams-red-0: #c14953;
$gams-red-1: #cc6a72;
$gams-red-2: #7b2f35;
$gams-gray-0: #4c4c47;
$gams-gray-1: #7c7c79;
$gams-gray-2: #31312e;
$gams-white-0: #dddbf1;
$gams-white-1: #e9e8f6;
$gams-white-2: #c9c8dc;
